*{
    margin: 0;
    padding: 0;
}
nav{
    /* border: 1px solid red; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 11vh;
    width: 100vw;
}
.lion{
    width: 5vw;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-top: 13px;
    margin-left: 70px;
}
ul{
    display: inline;
    margin-left: 300px;
    
}
li{
list-style: none;
display: inline-block;
margin: 10px;
padding: 9px;
font-family: sans-serif;
margin-top: 15px;
font-size: 3vh;
color: gray;
}
li select{
    border: none;
    color: gray;
    font-size: 3vh;
}
li:hover{
    color: black;
}

.search{
    color: black;
    padding: 4px;
    margin-left: 170px;
    font-size: 3vh;
    width: 14vw;
    border: none;
    border-radius: 7px;
    background-color: rgb(202, 202, 202);

}
.cart{
    color: black;
    padding: 6px;
    margin-left: 15px;
    border: none;   
    border-radius: 7px;
    background-color: rgb(202, 202, 202);
}
#use{
    width: 20px;
    height: 25;
    margin-left: 25px;
    border: 1px solid rgb(148, 148, 148);
    background-color: rgb(148, 148, 148);
    margin-bottom: -12px;
    padding: 6px;
    border-radius: 50px;
}
section{
    display: flex;
}

h1{
    font-family: sans-serif;
    margin-top: 20px;
    margin-left: 40px;
}
.shopcart {
    margin-left: 40px;
    margin-top: 30px;
    border-collapse: collapse;
    width: 50%; /* Adjust as needed */
}
.shopcart th{
    border-bottom: 2px solid rgb(168, 167, 167);
    padding: 19px;
    text-align: left;
    color: gray;
}
.shopcart td{
    padding: 10px;
}
.price{
    font-family: sans-serif;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 30px;

}
.price h3{
    font-size: 1vw;
    margin-bottom: 5px;
}
.price input{
    padding: 12px;
    border: 1px solid gray;
    border-radius: 10px;
}
.price .apply{
    padding: 12px;
    border: 1px solid rgb(52, 133, 255);
    border-radius: 10px;
    background-color: rgb(52, 133, 255);
    color: white;
    margin: 2px;
}
.price h2{
    display: inline;
    font-size: 1.3vw;
    color: gray;

}
.price .total{
    color: black;
}
.price .pay {
    display: block; 
    height: 8vh;
    width: 23vw;
    margin-top: 15px;
    border-radius: 12px;
    border: 1px solid orange;
    background-color: orange;
    font-size: 3vh;
    font-weight: bold;

}
.price .pay a{
    color: white;
}
.price img{
    padding: 15px;
}
a{
    margin-left: 30px;
    text-decoration: none;
    font-size: 3.7vh;
    font-family: sans-serif;
    color: black;
    font-weight: 700;
}